[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
mecab-python3 = "*"
numpy = "*"
scikit-learn = "*"
opencv-python = "~=4.1.2.30"
opencv-contrib-python = "~=4.1.2.30"

[dev-packages]

[requires]
python_version = "3.8"
