{% extends "layout.html" %}

{% block content %}
<div class = "main-cont">
  <form onsubmit="return false;" id="file_form">
    <label>
      画像ファイルを選択して下さい：
      <input type="file"  id="input_img" accept=".jpg,.png,.jpeg" required>
    </label>
    <br>
  </form>
  <p id="before_img_wh"></p>
  <img src="http://placehold.jp/6b6b6b/ffffff/500x500.png" id="before_img"><br><br>
  <div class="flex-center"><button type="button" id="send_file">送信</button></div>

</div>
<h2>計算結果</h2>
<div class="main-cont">
  <h3>AKAZE特徴量画像</h3>
  <div id="result"></div>
  <h3>RGB metadeta.csv</h3>
  <div id="csv_result"></div>
  <br>
</div>
{% endblock %}

{% block head %}
<script defer>
  let img_file = ""
  window.onload =()=>{
    document.getElementById("input_img").addEventListener('change', (e)=>{
      img_file = event.target.files[0];
      reader = new FileReader();
      reader.onload = (e) => {
        imageUrl = e.target.result;
        document.getElementById("before_img").src = imageUrl;

        // ファイル幅取得、表示
        img_element = new Image();
        img_element.onload = ()=>{
          width = img_element.naturalWidth ;
          height = img_element.naturalHeight ;
          document.getElementById("before_img_wh").innerText = `width:${width}px, height:${height}px`
        }
        img_element.src = imageUrl;
        image_Url = imageUrl;
      }
      reader.readAsDataURL(img_file);
    });
    document.getElementById("send_file").addEventListener("click",()=>{
      if(img_file == ""){
        alert("ファイルを選択して下さい")
      }else{
        var xhr = new XMLHttpRequest;
          xhr.onload = function(){
            console.log(JSON.parse(xhr.responseText))
            var $result = document.getElementById("result")
            JSON.parse(xhr.responseText)["data"].forEach(element => {
            $img = document.createElement("img")
            $img.src = element
            $result.appendChild($img)
            })
            get_csv();
          };
        xhr.onerror = function(){
          alert("バグです。サーバー側にエラーが発生しています。")
        }
        xhr.open('POST', "./img-post", true);
        xhr.setRequestHeader('Content-Type', 'application/octet-stream');
        xhr.send(img_file);
      }
    })
    get_csv();
  }
const get_csv = ()=>{
  $csv = document.getElementById("csv_result")
  $csv.innerHtml = ""
  var xhr = new XMLHttpRequest();
  xhr.addEventListener('load', (event) => {
    let response = event.target.responseText;
    var row_data = response.split(/\r\n|\n/);
    result_txt = "<table>"
    row_data.forEach(e=>{
      result_txt +="<tr>"
      e.split(",").forEach(element=>{
        result_txt+=`<td>${element}</td>`
      })
      result_txt+="</tr>"
    })
    result_txt += "</table>"
    $csv.innerHTML= result_txt
  });
  xhr.open('GET', "./static/output/metadata_rgb.csv", true);
  xhr.send();
  }
</script>

<style>
  td{
    padding: 5px;
    font-size: smaller;
  }
  table{
    padding-right: 10px;
  }
  #csv_result{
    max-width: 28vw;
    overflow-x: scroll;
  }
  @media screen and (max-width: 740px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
    #csv_result{
    max-width: 78vw;
  }
  }
</style>
{% endblock %}